table
{
    width: 100%;
    border-collapse: collapse;
}

table,tr, td, th
{
    border: 2px solid black;
}

#deckName
{
    text-align: center;
}

.deckInfo
{
    margin-left: 10px;
}






/* Dashed border */
hr.dashed {
    border-top: 3px dashed #bbb;
  }
  
  /* Dotted border */
  hr.dotted {
    border-top: 3px dotted #bbb;
  }
  
  /* Solid border */
  hr.solid {
    border-top: 3px solid #bbb;
  }
  
  /* Rounded border */
  hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
  }