################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Hearth/v16/.suo
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
